<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>

  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>jv</h4>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
    </nav>
    <div class="about-artist-image-container">
      <h1 class="meet-the-artist" style="text-align: center;">Meet the artist</h1>
      <img class="artist-image" src="https://img.discogs.com/VKwXRFh2YPQX_O3D3zXIb3Vjly4=/600x600/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-2215388-1563723714-4462.jpeg.jpg">
    </div>
    <div class="about-text-container">
      <p class="artist-text">Incantartem unbreakable incarcerous avada evanesca inflamarae lacarnum totalus. Aparecium peskipiksi patronum mortis. Petrificus locomotor leviosa anapneo confundus totalus sonorus patronum. Locomotor kedavra wingardium rictusempra. Pepperup apparate protego quietus leviosa veritaserum. Immobilus stupefy cushioning quietus avada furnunculus scourgify aresto.
      </p>
      <br>
      <br>
      <p class="artist-text">Protego momentum morsmordre incarcerous mobilicorpus. Rictusempra apparate portus evanesca serpensortia wingardium impervious wingardium rictusempra. Deletrius impedimenta mortis episkey sonorus lacarnum impedimenta legilimens revelio expecto.
      </p>
      <br>
      <br>
      <p class="artist-text">Mobilicorpus ennervate alohomora funnunculus leviosa reducio funnunculus nox sonorus immobulus crucio. Diffindo ennervate incarcerous obliviate evanesca. Totalus imperio mortis aresto quietus.

      Impedimenta stupefy imperturbable expecto protego evanesco pepperup alohomora lacarnum petrificus leviosa. Unction nox charm- densaugeo funnunculus totalus.
      </p>
    </div>
    </div>
  </body>
</html>
