<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
    <style type="text/css">
      body {
        background-image: url('/images/background-img.jpeg');
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>

    <nav>
      <div class="logo">
        <h4>jv</h4>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
    </nav>

    <div class="events-container">
      <div class="events-content">
        <div class="register">
          <h1 class="events-h1" style="text-align: center;">Art Gallery Event</h1>
          <p class="event-p" style="text-align: center;">ATTEND THE UPCOMING MEET THE ARTIST EVENT</p>
          <form action="/" method="post">
            <fieldset class="account-info">
              <legend>ACCOUNT INFO</legend>
              <label for="username">USERNAME</label>
              <input type="text" id="username" placeholder="username"/>
              <label for="password">PASSWORD</label>
              <input type="password" id="password"/>
              <label for="email">E-MAIL</label>
              <input type="email" id="email"/>
            </fieldset>
            <input type="submit" value="REGISTER">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
