<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>Product Name Goes Here</header>
    <div class="container">
      <div class="box-top-left">BTL</div>
      <div class="box-top-right">BTR</div>
      <div class="box-bottom-left">BBL</div>
      <div class="box-bottom-right">BBR</div>
    </div>

  </body>
</html>
