<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>Product Name Goes Here</header>
    <div class="container">
      <ul>
        <% for (let item of items ) { %>
          <li>
            <h3><%=item.name%></h3>
            <a href="/<%=item._id%>">
              <img src="<%= item.img %>" alt="An image of a <%= item.name %>" />
            </a>
          </li>
        <% } %>
      </ul>
      <div class="admin-actions">

      </div>
    </div>
  </body>
</html>
