<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>Product Name Goes Here</header>
    <div class="container">
      <ul>
        <% for (let item of items ) { %>
          <li>
            <a href="/items/<%=item._id%>">
              <%= item.name %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    <nav>
      <a href="/items/new">Create a New Item</a>
    </nav>
  </body>
</html>
